<div (click)="inEditMode=true" class="criteria-element-container clickable">
  <span>{{criteria.name}}: </span>
  <span *ngIf="!inEditMode">{{criteria.value}}</span>
  <span *ngIf="inEditMode">
    <input #inputId class="criteria-element-input text"
           value="{{criteria.value}}" type="text"
           (focusout)="notEditableAndSave(inputId.value)"
           (keyup.enter)="notEditableAndSave(inputId.value)" appAutoFocus
           [(ngModel)]="criteria.value">
  </span>
  <span class="delete-criteria-button clickable" (click)="deleteCriteria()">X</span>
</div>
