.criteria-element-input {
  border: none;
  outline: none;
  line-height: 30px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
}

.delete-criteria-button {
  display: inline-block;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 4px;
  background-color: white;
}

.select-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
}


.select-properties {
  font-size: 20px;
  appearance: none; /* Remove default arrow */
  outline: none;
  border: none;
  background: none;
}
