<div class="page-container text">
  <div class="welcome-text">
    Welcome to the software recommendation system!
  </div>

  <div class="search-bar-container">
    <div class="search-bar-content">
      <div class="search-bar-text">
        <div *ngIf="noCriteriaExist" class="label-text-search">
          Search using search criteria
        </div>
        <div class="criteria-container" *ngIf="!noCriteriaExist">
          <div class="criteria-parser" *ngFor="let criteria of allCriteria">
            <app-criteria-element
              [criteria]="criteria"
              [(allCriteria)]="allCriteria">
            </app-criteria-element>
          </div>
          <div class="criteria-element-container clickable" (click)="inNewFilterMode=true">
            + Add Filter
          </div>
          <div *ngIf="inNewFilterMode">
            <app-criteria-element
              [criteria]="{name: 'new-filter', value: 'new-value'}"
              [(allCriteria)]="this.allCriteria"
              [newFilterMode]="true"
              [criteriaNames]="this.criteriaNames">
            </app-criteria-element>
          </div>
        </div>
      </div>
    </div>
    <div class="search-button">
      <div class="search-button-content">Search</div>
    </div>
  </div>
</div>
