.page-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text {
  margin-bottom: 20px;
  font-size: 30px;
}

.search-bar-container {
  height: 50px;
  border: 3px solid black;
  border-radius: 20px;
  margin: auto;
}

.search-bar-content {
  width: 80%;
  float: left;
}

.label-text-search {
  margin-left: -250px;
  margin-top: 10px;
}

.search-bar-text {
  font-size: 20px;
}

.search-button {
  float: right;
  width: 20%;
  height: 50px;
  border: 3px solid black;
  border-radius: 0 20px 20px 0;
  margin-right: -4px;
  margin-top: -3px;
}

.search-button-content {
  margin-top: 12px;
  font-size: 20px;
}

.criteria-parser {
  display: inline;
}

.criteria-container {
  position: absolute;
  text-align: left;
  width: 75%;
  margin-left: 15px;
  margin-top: 3px;
  height: 44px;
  overflow: auto;
}

.matches-container {
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 20px;
}

.header-container {
  display: flex;
}

.match-align-vertical {
  margin-top: -10px;
}

.header-element {
  display: inline;
  font-size: 20px;
  margin-top: 10px
}

.separator {
  border: 1px solid transparent;
  border-bottom-color: black;
}

.matches-content-container {
  overflow: auto;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.match-content-container{
  overflow: hidden;
  width: 95%;
}

.match-element {
  height: 30px;
}
