.text {
  font-family: Cambria, serif;
}

.standard-container-width {
  width: 650px;
}

.standard-container {
  display: inline-block;
  border: 2px solid darkgray;
  background-color: lightgrey;
  border-radius: 10px;
  line-height: 30px;
  margin: 5px 3px 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.clickable {
  cursor: pointer;
}

.href-style {
  color: dimgrey;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #D7D7D7; /* color of the scroll thumb */
  border: 1px solid #D7D7D7; /* creates padding around scroll thumb */
}
